<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="grid grid-cols-3 gap-4 p-2">
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Prefijo SKU</h3>
    </div>
    <div class="col-span-2">
      <input type="text" id="skuPrefix" formControlName="skuPrefix" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Control de stock por vencimiento</h3>
    </div>
    <div class="col-span-2 flex items-center pt-1">
      <app-toggle
        [checked]="!!form.get('enableProductExpiry')!.value"
        (changed)="onEnableProductExpiryChange($event)" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Método de asignación de vencimiento</h3>
    </div>
    <div class="col-span-2">
      <select id="expiryType" formControlName="expiryType">
        @for (option of expiryTypeOptions; track option.value) {
        <option [ngValue]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Acción al vencerse</h3>
    </div>
    <div class="col-span-2">
      <select id="onProductExpiry" formControlName="onProductExpiry">
        @for (option of onProductExpiryOptions; track option.value) {
        <option [ngValue]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Detener venta (días antes del vencimiento)</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="stopSellingBefore" formControlName="stopSellingBefore" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Alerta anticipada de vencimiento (días)</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="stockExpiryAlertDays" formControlName="stockExpiryAlertDays" />
    </div>
  </div>

  <div class="mt-4 flex justify-end">
    <app-button full impact="bold" [disabled]="form.invalid" (buttonClick)="submitForm()" [isLoading]="$isLoading()">
      Siguiente
    </app-button>
  </div>
</form>
