@let isLoading = $isLoading(); @let currencies = $findAllCurrenciesService.$currencies();
<app-modal-card>
  <ng-template app-slot="header">
    <h1 class="text-primary dark:text-foreground">Crear nuevo negocio</h1>
  </ng-template>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <app-icon class="text-primary">close</app-icon>
  </button>

  <form [formGroup]="form">
    <div class="grid grid-cols-3 gap-4 p-2">
      <div class="text-end w-full pt-1">
        <h3 class="text-foreground">Nombre</h3>
      </div>
      <div class="col-span-2">
        <input type="text" id="name" formControlName="name" />
      </div>
      <div class="text-end w-full pt-1">
        <h3 class="text-foreground">Moneda</h3>
      </div>
      <div class="col-span-2">
        <select id="currencyId" formControlName="currencyId">
          <option [ngValue]="null" disabled>Selecciona una moneda</option>
          @for (currency of currencies ?? []; track currency.id) {
          <option [ngValue]="currency.id">{{ currency.currency }} ({{ currency.code }})</option>
          }
        </select>
      </div>
      <div class="text-end w-full pt-1">
        <h3 class="text-foreground">Zona horaria</h3>
      </div>
      <div class="col-span-2">
        <input type="text" id="timeZone" formControlName="timeZone" />
      </div>
      <div class="text-end w-full pt-1">
        <h3 class="text-foreground">Formato fecha</h3>
      </div>
      <div class="col-span-2">
        <input type="text" id="dateFormat" formControlName="dateFormat" />
      </div>
      <div class="text-end w-full pt-1">
        <h3 class="text-foreground">Formato hora</h3>
      </div>
      <div class="col-span-2">
        <input type="text" id="timeFormat" formControlName="timeFormat" />
      </div>
    </div>
  </form>
  <ng-template app-slot="footer">
    <div class="grid grid-cols-2 gap-2">
      <app-button full impact="light" (buttonClick)="dialogRef.close()">Cancelar</app-button>
      <app-button full impact="bold" [disabled]="form.invalid" (buttonClick)="submitForm()" [isLoading]="isLoading">
        Crear
      </app-button>
    </div>
  </ng-template>
</app-modal-card>
