<app-table>
  <ng-template app-slot="header">
    <div class="mb-4 flex justify-between">
      <div class="inline-block">
        <h3 class="text-foreground font-semibold">Team Members</h3>
        <div class="text-muted-foreground space-x-1 text-xs font-medium">
          <a href="" class="hover:text-primary">All Members:</a>
          <span class="text-foreground">49,053</span>
        </div>
      </div>
      <div class="inline-block space-x-4">
        <button
          class="glass-button text-muted-foreground hover:text-foreground flex-none rounded-md px-2 py-2.5 text-xs font-semibold">
          Import CSV
        </button>
        <button class="bg-primary text-primary-foreground flex-none rounded-md px-2 py-2.5 text-xs font-semibold">
          Add Member
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template app-slot="filters">
    <div class="flex flex-wrap gap-2">
      <div class="flex">
        <label class="text-muted-foreground relative">
          <input
            class="glass-input rounded-md py-2 pl-2 pr-2"
            placeholder="Search users"
            type="text"
            [value]="searchField()"
            (input)="onSearchChange($any($event.target).value)" />
        </label>
      </div>
      <div class="flex flex-wrap gap-2.5">
        <select
          name="status"
          class="glass-input text-muted-foreground w-28! rounded-md p-2"
          [value]="statusField()"
          (change)="onStatusChange($any($event.target).value)">
          <option value="">All</option>
          <option value="1">Active</option>
          <option value="2">Disabled</option>
          <option value="3">Pending</option>
        </select>
        <select
          name="order"
          class="glass-input text-muted-foreground w-28! rounded-md p-2"
          [value]="orderField()"
          (change)="onOrderChange($any($event.target).value)">
          <option value="1">Newest</option>
          <option value="2">Oldest</option>
        </select>
      </div>
    </div>
  </ng-template>

  <ng-template app-slot="head">
    <tr>
      <th class="w-[50px]">
        <input (change)="toggleAll($event)" class="checkbox checkbox-sm" type="checkbox" />
      </th>
      <th class="min-w-[300px]">Member</th>
      <th class="min-w-[180px]">Username</th>
      <th class="min-w-[180px]">Hobbies</th>
      <th class="min-w-[180px]">Occupations</th>
      <th class="min-w-[150px]">Phone</th>
      <th class="w-[60px]"></th>
    </tr>
  </ng-template>

  @for (user of paginatedUsers(); track user.id) {
  <tr>
    <td class="py-2 px-2 text-center">
      <input [(ngModel)]="user.selected" class="checkbox checkbox-sm" type="checkbox" />
    </td>
    <td class="py-2 px-2">
      <div class="flex items-center gap-2.5">
        <img alt="user avatar" class="h-9 w-9 shrink-0 rounded-full" [src]="avatarService.getAvatarUrl(user.name)" />
        <div class="flex flex-col items-start">
          <a class="text-foreground hover:text-primary text-sm font-semibold" href="#">{{ user.name }}</a>
          <a class="text-muted-foreground/70 hover:text-primary text-xs font-medium" href="#">{{ user.email }}</a>
        </div>
      </div>
    </td>
    <td class="py-2 px-2">{{ user.username }}</td>
    <td class="space-x-1 py-2 px-2">
      @for (hobbie of user.hobbies; track $index) {
      <app-badge [text]="hobbie" type="success" [glass]="false" rounded="md" />
      }
    </td>
    <td class="py-2 px-2">{{ user.occupation }}</td>
    <td class="py-2 px-2">{{ user.phone }}</td>
    <td class="py-2 px-2 text-center">
      <button
        class="text-muted-foreground hover:bg-card hover:text-foreground flex h-7 w-7 items-center justify-center rounded-md"></button>
    </td>
  </tr>
  } @empty {
  <tr>
    <td class="py-4 text-center text-sm" colspan="7">No users found</td>
  </tr>
  }

  <ng-template app-slot="footer">
    <div class="glass-footer -mx-5 -mb-3 flex flex-wrap items-center justify-between gap-2 px-5 py-3">
      <div class="flex items-center gap-2">
        Show
        <select class="glass-input w-16 rounded-md p-2" [value]="perPage()" (change)="onPerPageChange($event)">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select>
        per page
      </div>
      <app-pagination-table [pagination]="paginationMeta()" (pageChange)="onPageChange($event)" />
    </div>
  </ng-template>
</app-table>
