<label class="relative inline-flex cursor-pointer items-center">
  <input
    type="checkbox"
    class="peer sr-only"
    [checked]="$checked()"
    [disabled]="$disabled()"
    (change)="onChange($event)" />
  <div
    class="after:start-[2px] peer h-6 w-11 rounded-full bg-gray-300 after:absolute after:top-[2px] after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all peer-checked:bg-primary peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-primary dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-primary"></div>
</label>
