<div class="glass flex h-16 items-center">
  <div class="flex w-full items-center justify-between px-7 text-[13px] font-medium">
    <div class="text-muted-foreground/50">
      <span class="mr-2">{{ year }}©</span>
      <a href="https://github.com/GesCamp/gc-backoffice-front" target="_blank" class="hover:text-primary">
        Ge-Rest | Devom Chile
      </a>
    </div>
    <ul class="text-muted-foreground/50 flex">
      <li class="hover:text-primary">
        <a href="https://github.com/GesCamp/gc-backoffice-front/issues" target="_blank" class="menu-link px-2">
          Issues
        </a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/GesCamp/gc-backoffice-front" target="_blank" class="menu-link px-2">Sponsor</a>
      </li>
      <li class="hover:text-primary">
        <a href="https://github.com/GesCamp/gc-backoffice-front/  " target="_blank" class="menu-link px-2">Starred</a>
      </li>
    </ul>
  </div>
</div>
