<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="grid grid-cols-3 gap-4 p-2">
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Beneficio por defecto (%)</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="defaultProfitPercent" formControlName="defaultProfitPercent" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Descuento por defecto (%)</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="defaultSalesDiscount" formControlName="defaultSalesDiscount" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Método contable</h3>
    </div>
    <div class="col-span-2">
      <select id="accountingMethod" formControlName="accountingMethod">
        @for (option of accountingMethodOptions; track option.value) {
        <option [ngValue]="option.value">{{ option.label }}</option>
        }
      </select>
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Precisión de moneda</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="currencyPrecision" formControlName="currencyPrecision" />
    </div>
    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Precisión de cantidad</h3>
    </div>
    <div class="col-span-2">
      <input type="number" id="quantityPrecision" formControlName="quantityPrecision" />
    </div>

    <div class="text-end w-full pt-1">
      <h3 class="text-foreground">Moneda</h3>
    </div>
    <div class="col-span-2">
      @if ($findAllCurrenciesService.$isLoading()) {
      <select disabled>
        <option>Cargando monedas...</option>
      </select>
      } @else if ($findAllCurrenciesService.$hasError()) {
      <select disabled>
        <option>Error al cargar monedas</option>
      </select>
      } @else {
      <select id="currencyId" formControlName="purchaseCurrencyId">
        <option [ngValue]="null">Seleccionar moneda</option>
        @for (currency of $findAllCurrenciesService.$currencies(); track currency.id) {
        <option [ngValue]="currency.id">{{ currency.code }} - {{ currency.currency }}</option>
        }
      </select>
      }
    </div>
  </div>

  <div class="mt-4 flex justify-end">
    <app-button full impact="bold" [disabled]="form.invalid" (buttonClick)="submitForm()" [isLoading]="$isLoading()">
      Siguiente
    </app-button>
  </div>
</form>
