@for (menu of menuService.pagesMenu; track $index) { @if (menuService.showSideBar) {
<div class="mx-1 flex items-center justify-between py-3">
  <small class="text-muted-foreground/50 text-xs font-semibold">
    {{ menu.group }}
  </small>
</div>
}

<ul class="flex flex-col">
  @for (item of menu.items; track $index) {
  <li>
    <div
      (click)="toggleMenu(item)"
      [ngClass]="{
        'hover:bg-primary/10': !menuService.showSideBar && item.active,
        'hover:bg-primary/[0.04]': !menuService.showSideBar
      }"
      class="text-muted-foreground hover:text-foreground group relative flex grow items-center gap-4 rounded-lg px-2">
      <!-- Icon -->
      <div [ngClass]="item.active && !menuService.showSideBar ? 'text-primary' : 'text-muted-foreground/50'">
        <app-icon>{{ item.icon }}</app-icon>
      </div>

      <!-- Condición de template -->
      @if (item.children) {
      <div class="flex h-9 grow cursor-pointer items-center justify-start rounded-sm">
        <a
          [ngClass]="{ hidden: !menuService.showSideBar }"
          class="text-muted-foreground group-hover:text-primary truncate text-xs font-semibold tracking-wide focus:outline-hidden">
          {{ item.label }}
        </a>
      </div>
      } @else {
      <div
        routerLink="{{ item.route }}"
        class="text-muted-foreground hover:text-primary flex h-[36px] cursor-pointer items-center justify-start rounded-sm">
        <a
          [ngClass]="{ hidden: !menuService.showSideBar }"
          routerLinkActive="text-primary"
          class="truncate text-xs font-semibold tracking-wide focus:outline-hidden">
          {{ item.label }}
        </a>
      </div>
      }

      <!-- Flecha de expansión -->
      @if (item.children && menuService.showSideBar) {
      <button
        class="text-foreground/50 flex cursor-pointer items-center justify-end p-0 transition-all duration-500 ltr:right-0 rtl:left-0">
        @if (!item.expanded) {
        <app-icon>add</app-icon>
        } @else {
        <app-icon>remove</app-icon>
        }
      </button>
      }

      <!-- Tooltip si está colapsado -->
      @if (!menuService.showSideBar) {
      <div class="z-1 fixed h-[36px]">
        <span
          class="z-1 bg-foreground text-background absolute w-auto min-w-max translate-y-[2px] scale-0 rounded-md p-2 text-xs font-bold shadow-md transition-all duration-200 group-hover:scale-100 ltr:origin-left ltr:translate-x-10 rtl:origin-right rtl:-translate-x-10">
          {{ item.label }}
        </span>
      </div>
      }
    </div>

    <!-- Submenú -->
    <app-sidebar-submenu [submenu]="item"></app-sidebar-submenu>
  </li>
  }
</ul>

@if (menu.separator) {
<div class="py-3">
  <hr class="border-border border-dashed" />
</div>
} }
