<app-header-dashboard title="Roles y permisos" subtitle="Módulo de gestión de roles y permisos.">
</app-header-dashboard>
<div class="text-muted-foreground grid grid-cols-1 content-around gap-3 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3">
  @for (item of principalCards ; track $index) {
  <a *appCheckPermission="item.permission" routerLink="{{ item.route }}">
    <app-card addBottomLine="true">
      <div class="grid grid-cols-1">
        <div class="h-13 w-full content-center text-center ring-gray-300 dark:ring-gray-500">
          <span class="text-primary text-md font-semibold">{{ item.name }}</span>
        </div>
        <p class="text-md text-foreground mt-1 w-full content-center font-semibold">{{ item.description }}</p>
      </div>
    </app-card>
  </a>
  }
</div>
