<form [formGroup]="form" class="my-10 space-y-6">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Actualizar contraseña</h2>
    <p class="text-muted-foreground text-sm">
      Ya has restablecido la contraseña? <a class="text-primary" routerLink="/auth/sign-in"> Inicia sesión</a>
    </p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input
        [type]="hide ? 'password' : 'text'"
        id="password"
        class="peer block"
        placeholder=" "
        formControlName="password"
        (input)="updatePasswordStrength($event)" />
      <label
        for="password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Contraseña
      </label>
      <span class="text-muted-foreground absolute top-2 cursor-pointer ltr:right-3 rtl:left-3">
        <app-icon (clicked)="hide = !hide">
          {{ hide ? 'visibility_off' : 'visibility' }}
        </app-icon>
      </span>
    </div>
    <!-- Password Meeter -->
    <div class="grid grid-cols-4 gap-2">
      @for (idx of [0,1,2,3] ; track $index) {
      <div
        class="rounded-xs h-1"
        [ngClass]="{
          'bg-muted': passwordStrength === 0 || passwordStrength <= idx,
          'bg-red-400': passwordStrength === 1 && idx === 0,
          'bg-orange-400': passwordStrength === 2 && idx <= 1,
          'bg-yellow-500': passwordStrength === 3 && idx <= 2,
          'bg-green-500': passwordStrength === 4
        }"></div>
      }
    </div>
    <span class="text-muted-foreground text-xs"> Al menos 8 digitos, con letras, numeros y símbolos. </span>
    <div class="relative mt-1">
      <input
        [type]="hideConfirm ? 'password' : 'text'"
        id="confirm-password"
        class="peer block"
        placeholder=" "
        formControlName="confirmPassword" />
      <label
        for="confirm-password"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Confirmar contraseña
      </label>
      <span class="text-muted-foreground absolute top-2 cursor-pointer ltr:right-3 rtl:left-3">
        <app-icon (clicked)="hideConfirm = !hideConfirm">
          {{ hideConfirm ? 'visibility_off' : 'visibility' }}
        </app-icon>
      </span>
    </div>
  </div>

  @if(form.errors){ @if (form.errors['controlNotMatch']) {
  <app-alert type="danger">
    <div class="ms-3 text-sm font-medium">Las contraseñas deben ser iguales.</div>
  </app-alert>
  } }

  <!-- Submit Button -->
  <div>
    <app-button
      full
      [impact]="form.valid ? 'bold' : 'none'"
      [tone]="form.valid ? 'primary' : 'light'"
      shape="rounded"
      size="medium"
      (buttonClick)="submitForm()"
      [disabled]="form.invalid"
      [isLoading]="$isLoading()"
      >Actualizar contraseña</app-button
    >
  </div>
</form>
