<form [formGroup]="form" class="my-10 space-y-6" (ngSubmit)="submitForm()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">¿Olvidaste tu contraseña<span class="text-primary">?</span></h2>
    <p class="text-muted-foreground text-sm">Ingresa tu email y te enviaremos un código temporal para crear una nueva.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <input 
      type="email" 
      id="email" 
      class="peer block" 
      placeholder=" "
      formControlName="email"
      />
      <label
        for="email"
        class="bg-background text-muted-foreground peer-focus:text-primary absolute top-2 z-10 origin-[0] -translate-y-4 scale-95 transform px-2 text-sm duration-300 peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-95 peer-focus:px-2 ltr:left-1 rtl:right-1">
        Email
      </label>
    </div>
  </div>

  @if(form.errors){
    @if(form.errors['emailNotValid']){
      <app-alert type="danger">
        <div class="ms-3 text-sm font-medium">
          El email debe ser válido.
        </div>
      </app-alert>
    }
    
  }
  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button 
      [impact]="form.valid ? 'bold': 'none'" 
      [tone]="form.valid ? 'primary': 'light'" 
      [impact]="$isLoading()? 'none': 'bold'"
      full 
      shape="rounded" 
      size="medium"
      type="button"
      (buttonClick)="submitForm()"
      [disabled]="form.invalid"
      [isLoading]="$isLoading()"
      >Enviar</app-button>    </div>
    <div class="w-full">
      <app-button routerLink="/auth/sign-in" full impact="bold" tone="light" shape="rounded" size="medium">
        Cancelar
      </app-button>
    </div>
  </div>
</form>
