<div class="relative ml-3">
  <button
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="toggleMenu()"
    class="glass-overlay relative flex rounded-full text-sm"
    type="button">
    <span class="sr-only">Open user menu</span>
    <img class="size-9 rounded-4xl shrink-0" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
  </button>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOpen"
    [cdkConnectedOverlayPositions]="positions"
    (overlayOutsideClick)="isOpen = false">
    <div
      @openClose
      class="glass-overlay w-60 origin-top-right rounded-md border border-dashed py-4 focus:outline-hidden">
      <div class="flext-row flex items-center px-4 pb-4">
        <div class="w-10 shrink-0">
          <img class="rounded-4xl" src="https://avatars.githubusercontent.com/u/12519008?v=4" alt="" />
        </div>
        <div class="text-foreground overflow-hidden px-2 text-sm font-semibold">
          {{ userData?.name + ' ' + userData?.fatherLastName + ' ' + userData?.motherLastName }}
          <p class="text-muted-foreground truncate text-ellipsis text-xs font-semibold">{{ userData?.email }}</p>
        </div>
      </div>

      <div class="border-border border-b border-dashed"></div>

      <ul class="my-2 mx-2 flex flex-col">
        @for (item of profileMenu; track $index) {
        <li
          routerLink="{{ item.link }}"
          :key="$index"
          class="text-muted-foreground glass-row hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
          <app-icon>{{ item.icon }}</app-icon>
          {{ item.title }}
        </li>
        }
        <li
          (click)="logout()"
          class="text-muted-foreground glass-row hover:text-primary inline-flex cursor-pointer items-center gap-2 rounded-md px-2 py-2 text-xs font-semibold">
          <app-icon>logout</app-icon>
          Cerrar sesión
        </li>
      </ul>
      <hr class="border-border border-dashed" />
      <div class="mx-4 my-2">
        <span class="text-foreground text-xs font-semibold">Color</span>
        <div class="mt-2 grid grid-cols-2 gap-2">
          @for (item of themeColors; track $index) {
          <div
            :key="$index"
            (click)="toggleThemeColor(item.name)"
            [ngClass]="{ 'border-muted-foreground/30 glass-card': item.name == themeService.theme().color }"
            class="focus-visible:ring-ring border-border text-muted-foreground glass-row hover:text-foreground shadow-xs inline-flex h-8 cursor-pointer items-center justify-start space-x-2 whitespace-nowrap rounded-md border border-dashed px-3 text-xs font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
            <span
              [style.backgroundColor]="item.code"
              class="flex h-5 w-5 shrink-0 items-center justify-center rounded-full"></span>
            <p class="capitalize">{{ item.name }}</p>
          </div>
          }
        </div>
      </div>
      <div class="mx-4 my-2">
        <span class="text-foreground text-xs font-semibold">Mode</span>
        <div class="mt-2 grid grid-cols-2 gap-2">
          @for (item of themeMode; track $index) {
          <div
            :key="$index"
            (click)="toggleThemeMode()"
            [ngClass]="{ 'border-muted-foreground/30 glass-card': item == themeService.theme().mode }"
            class="focus-visible:ring-ring border-border text-muted-foreground glass-row hover:text-foreground shadow-xs inline-flex h-8 cursor-pointer items-center justify-start space-x-2 whitespace-nowrap rounded-md border border-dashed px-3 text-xs font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
            <app-icon>{{ item == 'light' ? 'sunny' : 'dark_mode' }}</app-icon>

            <p class="capitalize">{{ item }}</p>
          </div>
          }
        </div>
      </div>
      <div class="mx-4 my-2">
        <span class="text-foreground text-xs font-semibold">Dirección</span>
        <div class="mt-2 grid grid-cols-2 gap-2">
          @for (item of themeDirection; track $index) {
          <div
            :key="$index"
            (click)="setDirection(item)"
            [ngClass]="{ 'border-muted-foreground/30 glass-card': item == themeService.theme().direction }"
            class="focus-visible:ring-ring border-border text-muted-foreground glass-row hover:text-foreground shadow-xs inline-flex h-8 cursor-pointer items-center justify-start space-x-2 whitespace-nowrap rounded-md border border-dashed px-3 text-xs font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-1 disabled:pointer-events-none disabled:opacity-50">
            <app-icon>
              {{ item == 'ltr' ? 'last_page' : 'first_page' }}
            </app-icon>
            <p class="uppercase">{{ item }}</p>
          </div>
          }
        </div>
      </div>
    </div>
  </ng-template>
</div>
