
@if(toast.$isVisible()){
    @let type = toast.$type();
    <div id="toast-top-right" class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x rtl:divide-x-reverse divide-gray-200 rounded-lg shadow-sm top-5 right-5 z-[9999] dark:text-gray-400 dark:divide-gray-700 dark:bg-gray-800" role="alert">
    <div class="inline-flex items-center justify-center shrink-0 w-8 h-8 rounded-2xl" 
    [ngClass]="{
        'text-green-500 bg-green-300 rounded-lg dark:bg-green-800 dark:text-green-200': type === 'success',
        'text-red-500 bg-red-300 rounded-lg dark:bg-red-800 dark:text-red-200': type === 'error',
        'text-orange-500 bg-orange-300 rounded-lg dark:bg-orange-700 dark:text-orange-200': type === 'warning',
    }">
    <app-icon class="w-6 h-6">
        {{ toast.$icon() }}
    </app-icon>
    </div>
    <div class="ms-3 text-sm font-normal"> {{ toast.$message() }} </div>
    <button 
    type="button" 
    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" 
    data-dismiss-target="#toast-success" 
    aria-label="Close"
    (click)="toast.$isVisible.set(false)"
    >
        <app-icon>
            close
        </app-icon>
    </button>
</div>
}