@let isLoading = $isLoading(); @let sectorsData = $sectors();
<app-modal-card>
  <ng-template app-slot="header"><h1 class="text-primary dark:text-foreground">Editar mesa</h1></ng-template>
  <button mat-icon-button class="close-button" (click)="dialogRef.close()">
    <app-icon class="text-primary">close</app-icon>
  </button>
  <form [formGroup]="form">
    <div class="grid grid-cols-3 gap-4 p-2">
      <div class="text-end w-full pt-1"><h3 class="text-foreground">Nombre</h3></div>
      <div class="col-span-2"><input type="text" id="name" formControlName="name" /></div>
      <div class="text-end w-full pt-1"><h3 class="text-foreground">Capacidad</h3></div>
      <div class="col-span-2"><input type="number" id="capacity" formControlName="capacity" min="1" /></div>
      <div class="text-end w-full pt-1"><h3 class="text-foreground">Sector</h3></div>
      <div class="col-span-2">
        <select id="sectorId" formControlName="sectorId">
          @for (sector of sectorsData ?? []; track sector.id) {
          <option [ngValue]="sector.id">{{ sector.name }}</option>
          }
        </select>
      </div>
      <div class="text-end w-full pt-1"><h3 class="text-foreground">Estado</h3></div>
      <div class="col-span-2">
        <select id="status" formControlName="status">
          @for (opt of statusOptions; track opt.value) {
          <option [ngValue]="opt.value">{{ opt.label }}</option>
          }
        </select>
      </div>
    </div>
  </form>
  <ng-template app-slot="footer">
    <div class="grid grid-cols-2 gap-2">
      <app-button full impact="light" (buttonClick)="dialogRef.close()">Cancelar</app-button>
      <app-button full impact="bold" [disabled]="form.invalid" (buttonClick)="submitForm()" [isLoading]="isLoading"
        >Guardar</app-button
      >
    </div>
  </ng-template>
</app-modal-card>
